body
{
    text-align: center;
    background-color: coral;
}

form
{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10%;
}
.btn
{
    width: 100%;
    margin: 2px 1px;
    border: 1px solid whitesmoke;
}
.num-pad
{
    margin: 8px 5px;
}
.display
{
   scale: 1.2;
   margin: 8px 0;
   border-radius: 5px;
   border: 2px solid black;
}
h1
{
    font-family: 'Ubuntu';
    font-weight: bolder;
    color:cyan;
}
